body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

/* GRID Styles */

:root {
  --totalGridColumns: 37;
  --containerWidth: 84%;
  --maxContainerWidth: 480px;
  --singleCol: 100% / var(--totalGridColumns);
}

@media (min-width: 768px) {
  :root {
    --containerWidth: 100%;
    --maxContainerWidth: 592px;
  }
}

@media (min-width: 1024px) {
  :root {
    --containerWidth: 100%;
    --maxContainerWidth: 925px;
  }
}

@media (min-width: 1200px) {
  :root {
    --containerWidth: 100%;
    --maxContainerWidth: 1184px;
  }
}

@media (min-width: 768px) {
  :root {
    --singleCol: var(--maxContainerWidth) / var(--totalGridColumns);
  }
}
